* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 10px;
}

.avatar-block,
.links-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 40px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    width: 65%;
    max-width: 520px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.6s;
}

a:hover {
    opacity: .7;
    transition: opacity 0.6s;
}



.avatar {
    margin: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (max-width: 325px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 25px;
    }
}