* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;
    color: #454545;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
    padding: 5px 10px;
    margin: 10px;
    width: 65%;
    max-width: 250px;
    min-height: 45px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    transform: translate(0, -2px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.25s;
}
.default-button {
    border: 3px solid #25c267;
    color: #25c267;
}
.avatar {
    margin: 20px;
    border: 2px solid rgba(128, 128, 128, 0.842);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media (max-width: 325px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 25px;
    }
}
